body{
    background-image: url(./background1.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color:white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 90px;
}

.top-sec{
    text-align: center; 
    background: rgba(51, 9, 9, 0.6);   
    padding-bottom: 20px;
}

h4 {
    color: white;
}

#char-img{
    padding-top: 12px;
    width: 215px;
    height: 215px;
}

#card-list {
    display:flex;
    justify-content: space-evenly;
}

.card{
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px white;
}